@font-face {
  font-family: 'eosfont';  /* project id 1032723 */
  src: url('//at.alicdn.com/t/font_1032723_mij9ao0x42.eot');
  src: url('//at.alicdn.com/t/font_1032723_mij9ao0x42.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1032723_mij9ao0x42.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1032723_mij9ao0x42.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1032723_mij9ao0x42.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1032723_mij9ao0x42.svg#eosfont') format('svg');
}
.eosfont {
  font-family: "eosfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
